<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Helpful Links Hub</title>
  <link rel="stylesheet" href="home.css" />
  <script src="https://www.gstatic.com/firebasejs/9.22.0/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.22.0/firebase-auth-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.22.0/firebase-firestore-compat.js"></script>
</head>
<body>
  <button id="logoutBtn">🚪 Logout</button>
  <div class="container">
    <h1>🌐 Helpful Links Hub</h1>

    <section>
      <h2>📚 Study Materials</h2>
      <ul>
        <li><a href="https://www.geeksforgeeks.org" target="_blank">GeeksforGeeks</a></li>
        <li><a href="https://www.w3schools.com" target="_blank">W3Schools</a></li>
        <li><a href="https://www.hackerrank.com/" target="_blank">HackerRank</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/API/Document_Object_Model" target="_blank">MDN Web Docs for DOM JavaScript</a></li>
        <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></li>
        <li><a href="https://stackoverflow.com" target="_blank">Stack Overflow</a></li>
      </ul>
    </section>

    <section>
      <h2>🎥 Best YouTube channales for learn coding </h2>
      
      <ul>
        <li><a href="https://www.youtube.com/@ApnaCollegeOfficial" target="_blank">Apna College</a></li>
        <li><a href="https://www.youtube.com/@SuperSimpleDev" target="_blank">SuperSimpleDev</a></li>
        <li><a href="https://www.youtube.com/c/CodeWithHarry" target="_blank">CodeWithHarry</a></li>
        <li><a href="https://www.youtube.com/@chaiaurcode" target="_blank">Chai aur Code</a></li>
        <li><a href="https://www.youtube.com/@codingwithsagarcw" target="_blank">Coding With Sagar</a></li>
        <li><a href="https://www.youtube.com/@LearnCodingOfficial" target="_blank">Learn Coding</a></li>
      </ul>
    </section>

    <section>
      <h2>👤 My Profile</h2>
      <ul>
        <li><a href="https://github.com/bhanu0221" target="_blank">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/anup-shahi-50486530a" target="_blank">LinkedIn</a></li>
      </ul>
    </section>
  </div>

  <script src="home.js"></script>
  <script src="firebase.js"></script>
</body>
</html>
